$C-5BC8AF: #5BC8AF;
$C-297C6B: #297C6B;
$C-194D44: #194D44;
$C-333333: #333333;
$C-FFFFFF: #FFFFFF;
$C-297C6B: #297C6B;
$C-297C6B: #297C6B;
$C-F5F5F5: #F5F5F5;
$F-size64: 64px;
$F-size18: 18px;
$F-size24: 24px;
$F-size28: 28px;
$F-size44: 44px;
$F-weight700: 700;
/*****variable End*****/

@mixin centerdisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    @content;
}

/**Media**/

@mixin mediamax($maxval) {
    @media (max-width: $maxval) {
        @content;
    }
}

@mixin mediamin($minval) {
    @media (min-width: $minval) {
        @content;
    }
}

@mixin mediamix($minval, $maxval) {
    @media (min-width: $minval) and (max-width: $maxval) {
        @content;
    }
}